
<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :board_id, disabled: true, hint: 'You cannot change the board.' %>
  <%= f.input :user_id, disabled: true, hint: 'You cannot change the user.'%>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
