<div class="d-flex justify-content-between align-items-center mb-3">
  <h1><strong>My Bookings</strong></h1>
  <%= link_to 'Go to previous page', user_profile_path, class: "btn btn-primary" %>
</div>

<% @bookings.each do |booking| %>
  <div class="card-details mb-3">
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
     <% booking.board.photos.each do |photo| %>
    <%= cl_image_tag photo.key, crop: :fill %>
    <% end %>
      <div class="card-details-infos">
        <h3><%= booking.board.name %></h3>
        <p><strong>Renter:</strong> <%= booking.user.first_name %></p>
      </div>
      <div class="card-details-buttons p-3">
        <%= link_to 'Delete', board_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
      </div>
  </div>
<% end %>
