<h1>Profile Page</h1>

<div class="card-product">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
  <div class="card-product-infos">
    <h2>User Info</h2>
    <p><%= @user.first_name %>  <%= @user.last_name %></p>
    <p><%= @user.email %></p>
  </div>
</div>
<%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary" %>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"btn btn-primary" %>

<div data-controller="profile-toggle" class="mt-5">
  <button data-action="click->profile-toggle#fire", class="btn btn-primary">Add a new board</button>
  <div data-profile-toggle-target="togglableElement" class="d-none">
    <br>
    <br>
  <%= render "boards/form", board: @board %>
  </div>
</div>
