<div id="<%= dom_id board %>" class="card-board">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <% board.photos.each do |photo| %>
    <%= cl_image_tag photo.key, crop: :fill %>
  <% end %>
  <div class="card-board-infos">
    <div>
      <h2><%= board.name %></h2>
      <p><%= board.description %></p>
      <p><strong>Availability: </strong><%= board.availability %></p>
    </div>
    <h2 class="card-board-pricing"><%= board.price.currency %> <%= board.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-board-user avatar-bordered" />
  </div>
</div>
