<div id="<%= dom_id board %>" class="card-board mx-3">
  <% board.photos.each do |photo| %>
    <%= cl_image_tag photo.key, crop: :fill %>
  <% end %>
  <div class="card-board-infos">
    <div>
      <h2><%= board.name %></h2>
      <p><%= board.description %></p>
      <p><strong>Availability:
        <% if board.availability %>
          </strong><i class="fa-solid fa-circle-check"></i>
        <% else %>
          </strong><i class="fa-solid fa-circle-xmark"></i>
        <% end %>
      </p>
      <%= link_to "Show this board", board, class: "btn btn-flat" %>
    </div>
    <h2 class="card-board-pricing"><%= board.price.currency %> <%= board.price %></h2>
    <% if board.user && board.user.photo.attached? %>
      <%= cl_image_tag board.user.photo.key, class: "card-board-user avatar-bordered" %>
    <% end %>
  </div>
</div>
