<div id="<%= dom_id board %>" class="card-board mx-3">
  <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
  <% board.photos.each do |photo| %>
    <%= cl_image_tag photo.key, crop: :fill %>
  <% end %>
  <div class="card-board-infos">
    <div>
      <h2><%= board.name %></h2>
      <p><%= board.description %></p>
      <p><strong>Availability: </strong><%= board.availability %></p>
      <p>
        <%= link_to "Show this board", board, class: "btn btn-flat" %>
      </p>
    </div>
    <h2 class="card-board-pricing"><%= board.price.currency %> <%= board.price %></h2>
    <% if board.user && board.user.photo.attached? %>
      <%= cl_image_tag board.user.photo.key, class: "card-board-user avatar-bordered" %>
    <% end %>
  </div>
</div>
