<p style="color: green"><%= notice %></p>

<div class="mx-auto" style="width: 70%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<h1>All Our Boards</h1>

<div id="boards" class="d-flex">
  <% @boards.each do |board| %>
    <%= render board %>
  <% end %>
</div>

<%# <%= link_to "New board", new_board_path %>
