<!DOCTYPE html>
<html>
  <head>
    <title>Share Up Paddle (SUP)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container-fluid py-3 px-5">
      <div class="row">
        <div class="col">
          <%= render "shared/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ekyburz/ShareUpPaddle"><i class="fab fa-github"></i></a>
    <a href="https://github.com/ekyburz/ShareUpPaddle"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/ekyburz/ShareUpPaddle"><i class="fab fa-facebook"></i></a>
    <a href="https://github.com/ekyburz/ShareUpPaddle"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/ekyburz/ShareUpPaddle"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © 2023 ShareUpPaddle, Inc.
  </div>
</div>
